
<div class="row">
	<div class="persentation">
		<img class="col-md-3 col-xs-3" ng-src="{{profilePic}}" alt="profilePic" spinner-on-load />
		<h1 class="col-md-9 col-xs-9 center">
			Hej jag heter Tobias!
		</h1>
		<p>
			Jag kommer från tranås och det är roligt för att där kan man bada i en sjö som är varm på sommaren
		</p>
	</div>
</div>

<div class="languages">
	Programming languages
	<ul>
		<li ng-repeat="language in languages">{{language}}</li>
	</ul>
</div>

<div class="frameworks">
	Programming frameworks
	<ul>
		<li ng-repeat="framework in frameworks">{{framework}}</li>
	</ul>
</div>