.course-languages {
	margin-bottom: 10px;
}

.completed-text {
	display: block;
	margin-bottom: 10px;
}

.languageButton,
.frameworkButton {
	margin-right: 3px;
}

.languageButton:disabled,
.frameworkButton:disabled {
	opacity: 1;
}

.course-frameworks {
	margin-bottom: 30px;
}

.programming-toggle {
	margin-bottom: 10px;
}

.programming-toggle {
	cursor: pointer;
}