/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 60px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  margin-top: 60px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
  color: #337ab7;
  background-color: #ffffff;
  font-size: 20px;
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #ffffff;
}

.navbar-brand {
  padding-left: 0;
}

.menu:last-child a {
  padding-right: 0;
}

.frameworkButton {
    color: #000;
}

.navbar-toggle {
  background-color: #337ab7;
}

.icon-bar{
  background-color:#fff;
}


.lobbyTable {
  width: 100%;
}

.profilepic {
  height:100%;
}

.languages, .frameworks {
  /*display: block;*/
  /*background-color: #aaaaaa;*/
/*  width: 40%;*/
}

.languages {
  /*float:left;*/
}

.frameworks {

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.glyphicon {
  margin-right: 5px;
}

.linkedin-link {
  padding-left: 3px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .courseLanguages{
    display:block;
    background-color: #00AA00;
  }

  .frameworkButton{
    color: #333;
    background-color: #aaa;
    border-color: #ccc;
  }
    .languageButton{
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
  }

  .nounderline:hover {
    text-decoration: none;
  }

  .nounderline:active {
    text-decoration: none;
  }
}
