<div class="course">
	<h3>{{course.code}} - {{course.name}} - {{course.hp}}hp</h3>
	Avklarad: {{course.date}}

	<div>
		<button ng-show="hasLanguages()" ng-repeat="language in course.languages" type="button" class="btn btn-default btn-default languageButton" disabled="disabled">{{language}}</button>
	</div>
	
	<div>
		<button ng-show="hasFrameworks()" ng-repeat="framework in course.frameworks" type="button" class="btn btn-default btn-primary frameworkButton" disabled="disabled">{{framework}}</button>
	</div>


	{{course.description}}

	<youtube code='course.video'></youtube>

</div>